<div class="flex-column" id="test-table">
    <span id="test-title" class="title">Testy</span>
    <span id="test-code" class="subtitle">Testy</span>
    <table class="shadow text" id="table">
        <thead>
        <tr id="table-header">
            <th class="highlight-lecturer-background">Meno</th>
            <th class="highlight-lecturer-background">Id</th>
            <th class="highlight-lecturer-background">Akcia</th>
        </tr>
        </thead>
        <tbody id="test-table-body">

        </tbody>
    </table>
</div>


