#lecturer-register-form {
    height: 100%;
    width: 100%;
}

#lecturer-register-form #form {
    height: 550px;
    min-width: 36.5vw;
    background-color: var(--primary-color);
    box-shadow: 12px 12px 42px #F1F1F1;
    border-radius: 20px;
}


#lecturer-register-form .form-header {
    background-color: var(--secondary-color-lecturer);
}

#lecturer-register-form #form .subtitle:not(.form-header .subtitle) {
    margin: 50px 50px 20px 50px;
    align-self: flex-start;
}


#lecturer-register-form #form .text {
    margin: 50px 0 50px 0;
}


#lecturer-register-form input {
    width: 82%;
    height: 44px;
    margin: 10px 50px 10px 50px;
}


#login-button {
    width: 250px;
    height: 60px;
    margin-top: 50px;
}

