<div class="flex-column" id="student-test">

    <label style="width: 500px;">
        <span style="width: 500px;">NAPIS SEM KOD/KLUC TVOJHO VYTVORENEHO TESTU Z DATBAZY;{TOTO JE LEN PRE DEVELOPMENT}</span>
        <div style="width: 500px; display: flex; flex-direction: row">
            <input id="key-input" placeholder="KLUC TESTU" style="height: 25px; margin: auto" type="text">
            <button id="questions-button" style="width: 400px!important; height: 25px; margin: auto 15px;">zobraz
                otazky
            </button>
        </div>
    </label>
    <h1 id="test-info"></h1>

    <div class="flex-column" id="paper">
    </div>

    <app-side-menu id="side-menu" type="student"></app-side-menu>
</div>
