<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR mobile upload</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../../favicon.png" rel="icon" type="image/x-icon">
    <link as="script" href="../../app.module.js" rel="modulepreload">
    <script src="../../app.module.js" type="module"></script>
    <link href="../../../style.css" rel="stylesheet">
</head>
<body>

<!--
<app-qr-mobile></app-qr-mobile>
-->

<div id="qr-mobile">
    <form method="post" enctype="multipart/form-data" action="/bwte2/bwte2-backend/controllers/help_controllers/qrUpload.php">
        <label for="uploadfile">Nahraj súbor z mobilu</label><br>
        <input type="file" accept="image/*" capture="camera" name="uploadfile" id="uploadfile">

        <input type="hidden" id="codeTest" name="codeTest">
        <input type="hidden" id="studentId" name="studentId">
        <input type="hidden" id="questionId" name="questionId">
        <input type="hidden" id="token" name="token">

        <input type="submit" value="Odoslať">
    </form>
</div>

<script>
    document.getElementById("codeTest").value = getTestKey();
    document.getElementById("studentId").value = getStudentId();
    document.getElementById("questionId").value = getQuestionId();
    document.getElementById("token").value = getToken();

    console.log(getTestKey());

    function getTestKey() {

        let queryParams = window.location.search;
        let params = new URLSearchParams(queryParams);

        return params.get("codeTest");
    }
    function getStudentId() {
        let queryParams = window.location.search;
        let params = new URLSearchParams(queryParams);

        return params.get("studentId");
    }
    function getQuestionId() {
        let queryParams = window.location.search;
        let params = new URLSearchParams(queryParams);

        return params.get("questionId");
    }
    function getToken() {
        let queryParams = window.location.search;
        let params = new URLSearchParams(queryParams);

        return params.get("token");
    }
</script>

</body>
</html>