<div id="multiple-answer-question-creator">
    <div id="question-type" class="highlight-lecturer-background">
        <span class="text">Výber správnej odpovede</span>
    </div>

    <label>
        <textarea id="question" placeholder="Otázka bez názvu"></textarea>
    </label>

    <label>
        <input  id="points" placeholder="Body" type="number" min="0">
    </label>

    <div id="all-answers-container">
        <app-check-answer defaultChecked=true></app-check-answer>
        <app-check-answer defaultChecked=false></app-check-answer>
    </div>

    <button id="add-answer-button" class="highlight-lecturer-background ">
        <span class="text">Pridať možnosť</span>
        <span class="icon-plus">+</span>
    </button>
</div>
