#side-menu-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    transition: 0.2s;
}

#side-menu-header lottie-player {
    height: 90px;
    width: 100px;
}

#side-menu-header #side-menu-header-name {
    display: none;
}

#side-menu-header .text {
    margin-left: 30px;
    font-weight: 700;
}

#side-menu-header #side-menu-swap-button {
    background-color: transparent !important;
    color: var(--primary-color);
    transition: 0.2s;
    cursor: pointer;
}

#side-menu {
    height: 98vh;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 100px;
    left: 0;
    background-color: var(--primary-color);
    color: var(--primary-color);
    overflow: hidden;
    transition: 0.2s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: flex-start;
    align-items: center;
}

#create-test-button, #show-all-tests {
    margin-top: 50px;
}

#show-all-tests {
    display: none;
}

#logout-button, #send-test-button {
    position: absolute;
    top: calc(80% - 100px);
    left: 50%;
    transform: translateX(-50%);
}


button, span, a {
    white-space: nowrap;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

#side-menu #timer-container{
    display: none;
    text-align: center;
    margin-top: 75%;
}

#side-menu #timer-container span{
    font-size: 30px;
    font-weight: 400;
}

#side-menu #timer-container #timer{
    font-size: 50px;
    font-weight: 400;
}
