<div class="flex-row shadow" id="side-menu-header">
    <span class="text" id="side-menu-header-name"></span>
    <div id="side-menu-swap-button">
        <lottie-player id="side-menu-swap-button-animation" src="../../../assets/animations/menuAnimation.json" background="transparent" speed="1">
        </lottie-player>
    </div>

</div>
<div class="shadow flex-column" id="side-menu">
    <button id="send-test-button">Odoslať test</button>
    <span id="timer"></span>
    <a href="../../../index.html">
        Lecturer test
    </a>
</div>

