<div id="pair-question-creator">
    <div class="question-option">
        <div class="question-header  text highlight-lecturer-background">
            Párovanie správnych odpovedí
        </div>
        <label for="question-text"></label>
        <textarea placeholder="Otázka" id="question-text"></textarea>
        <label for="question-points"></label>
        <input type="number" placeholder="Body" id="question-points">
    </div>

    <div id="question-pairs">

    </div>

    <button class="highlight-lecturer-background text" id="add-pair-button">
        <span class="text semiBold">Pridať možnosť</span>
        <span class="add-icon"><i class="fas fa-plus-circle"></i></span>
    </button>
</div>

