/*#pair-question-creator{*/
/*    background-color: green;*/
/*}*/

#pair-question-creator
{
    width: 100%;
}

.question-option
{
    width: 47%;
}


#question-pairs
{
    display: flex;
    flex-direction: column;
}

.pair{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.input-pair-value{
    /*min-width: 50%;*/
    /*flex:  1 1 48%;*/

    /*max-width: 48%;*/
    /*flex: 48%;*/
    /*width: 100%;*/
    flex: 1 0 calc(48% - 70px);
}

.input-pair-left-value
{
    margin-right: 60px;
}

.input-bottom-margin
{
    margin-bottom: 20px;
}


.question-header{
    border-radius: 20px;
    background-color: var(--secondary-color-lecturer);
    color: white;
    /*border-color: var(--text-input-color);*/
    outline: none !important;
    -webkit-appearance: none;
    border-style: solid;
    width: 100%;
    min-height: 50px;
    height: auto;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;

}

/*.question-header-text{*/


/*}*/

.add-pair-button{
    width: 230px;
    height: 50px;
    background-color: var(--secondary-color-lecturer);
    color: white;
    font-weight: bold;
    /*margin-right: 0;*/
    /*margin-left: auto;*/
}

.add-pair-button-div
{
    display: flex;
    justify-content: flex-end;
    width: 48%;


}