<div id="pair-question-creator">

    <div class="question-option">
        <div class="question-header input-bottom-margin">
            <p class="question-header-text">Párovanie správnych odpovedí</p>
        </div>

        <textarea placeholder="Otázka" id="question-text" class="input-bottom-margin"></textarea>
        <input type="number" placeholder="Body" class="input-bottom-margin" id="question-points">
    </div>

    <div id="question-pairs">

    </div>

    <div  class="add-pair-button-div">
        <button class="add-pair-button" id="add-pair-button">Pridať možnosť +</button>
    </div>


</div>