<div id="one-answer-question-creator">
    <div class="highlight-lecturer-background question-type">
        <span class="text">Otvorená krátka odpoveď</span>
    </div>

    <label for="question"></label>
    <textarea class="textarea" name="question" id="question" placeholder="Otázka bez názvu"></textarea>

    <label for="points"></label>
    <input class="input" type="number" name="points" id="points" placeholder="Body">

    <label for="correct-answer"></label>
    <input class="input" type="text" name="correct-answer" id="correct-answer" placeholder="Správna odpoveď">
</div>