<div class="flex-column" id="test-maker">
    <span class="title">Vytvorenie testov</span>

    <div class="test-properties">
        <label for="test-name"></label>
        <input id="test-name" placeholder="Názov testu" type="text">
        <label for="time-limit"></label>
        <input id="time-limit" placeholder="Časový limit" type="text">
    </div>

    <div id="question-wording-properties">
<!--        <app-multiple-answer-question-creator></app-multiple-answer-question-creator>-->
    </div>

    <div class="flex-column" id="question-type-menu">
        <button class="highlight-lecturer-background ">
            <span class="text">Otvorena krátka odpoveď</span>
            <span class="icon-plus">+</span>
        </button>
        <button class="highlight-lecturer-background ">
            <span class="text">Výber správnej odpovede</span>
            <span class="icon-plus">+</span></button>
        <button class="highlight-lecturer-background ">
            <span class="text">Párovanie správnych odpovedí</span>
            <span class="icon-plus">+</span></button>
        <button class="highlight-lecturer-background ">
            <span class="text">Odpoveď pomocou kreslenia</span>
            <span class="icon-plus">+</span></button>
        <button class="highlight-lecturer-background ">
            <span class="text">Odpoveď pomocou matematického výrazu</span>
            <span class="icon-plus">+</span></button>
    </div>

</div>
